/* # Widgets General Styles
---------------------------------------------------------------------------------------------------- */
.widget{
    padding: 2rem 5rem;
}
.widget ul li{
    margin: 0;
}
.widget ul li a{
    display: inline-block;
    margin-bottom: 0.7rem;
}
.widget-title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 650px){
    .widget-title{
        font-size: 1.7rem;
    }
}
/* # Wordpress Widgets
---------------------------------------------------------------------------------------------------- */
/* # Header right Widget area
---------------------------------------------------------------------------------------------------- */
.header-widget-area{
    align-items: center;
    display: flex;
    padding: 1.5rem 2rem;
}
.header-widget-area .widget{
    padding: 0 1rem;
}
.header-widget-area .widget:last-child{
    padding-right: 0;
}
/* # Before entry Widget area
---------------------------------------------------------------------------------------------------- */
.asi-before-entry .widget{
    padding: 0;
    margin-bottom: 4rem;
}
.after-entry.widget-area .widget{
    padding: 0;
    margin-bottom: 4rem;
}
/* # Calendar Widget
---------------------------------------------------------------------------------------------------- */
.widget_calendar{
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
}
.widget_calendar caption{
    margin-bottom: 2rem;
}
.widget_calendar table#wp-calendar{
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
}
.widget_calendar table{
    border-top: 1px solid #ddd;
    width: 100%;
}
.widget_calendar table *{
    line-height: 1;
}
.widget_calendar td,
.widget_calendar th{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    line-height: 1.3em;
    padding: 1rem;
    text-align: center;
}
.widget_calendar table tr:nth-of-type(2n){
    background: none;
}
.widget_calendar table td#today{
    font-weight: 700;
}
.widget_calendar table thead{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.widget_calendar table tfoot td{
    border: none;
}
.widget_calendar table tfoot td#prev{
    text-align: left;
}
.widget_calendar table tfoot td#next{
    text-align: right;
}
.widget_calendar table tbody{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
/* # Image Widget
---------------------------------------------------------------------------------------------------- */
.widget_media_image img{
    display: block;
}
/* # Recent entries Widget
---------------------------------------------------------------------------------------------------- */
.widget_recent_entries .post-date{
    margin-left: 1rem;
    color: #ababab;
    font-size: 1.5rem;
}
/* # Search Widget
---------------------------------------------------------------------------------------------------- */
.widget_search .search-form{
    align-content: center;
    display: flex;
    width: 100%;
}
.widget_search input[type="submit"]{
    background: none;
    border-radius: 0;
    color: #000;
    font-family: FontAwesome;
    height: auto;
    margin: 0 0 0 5px;
    position: relative;
    width: 25px;
}
.widget_search input[type="submit"]:hover{
    background: none;
    color: #000;
}
/* # RSS Widget
---------------------------------------------------------------------------------------------------- */
.widget_rss .rss-date{
    margin-left: 1rem;
    color: #ababab;
    font-size: 1.5rem;
}
.widget_rss cite{
    font-weight: 700;
}
/* # Menu navigation Widget
---------------------------------------------------------------------------------------------------- */
.widget_nav_menu{
    text-align: center;
}
.widget_nav_menu ul{
    list-style: none;
}
.widget_nav_menu ul li li a{
    font-size: 1.5rem;
}
.widget_nav_menu ul li li li a{
    font-size: 1.2rem;
}
/* # Genesis Widgets
---------------------------------------------------------------------------------------------------- */
/* # Featured page Widgets
---------------------------------------------------------------------------------------------------- */
.widget.featured-content .entry-title{
    margin: 0 0 2rem 0;
    text-align: left;
}
.widget.featured-content .entry.post .entry-title{
    margin-bottom: 0;
}
.widget.featured-content .entry.post .entry-meta{
    margin: 1rem 0;
    text-align: left;
}
.widget.featured-content .entry:last-child{
    border: none;
    padding: 0;
    margin: 0;
}
.widget.featured-content .avatar{
    margin: 0 1rem 1rem 0;
}
.widget.featured-content .entry .entry-header{
    margin-bottom: 2rem;
}
/* # Own Widgets
---------------------------------------------------------------------------------------------------- */
.widget.asitheme_widget{
    padding: 0;
}
.widget.asitheme_widget.no-background + .widget.asitheme_widget.no-background > .widget-wrap > .asitheme_widget,
.widget.asitheme_widget.color-background + .widget.asitheme_widget.color-background > .widget-wrap > .asitheme_widget{
    padding-top: 0;
}
/* # Main Widget
---------------------------------------------------------------------------------------------------- */
.widget.asitheme_widget .asitheme_widget_main{
    position: relative;
    text-align: center;
    padding: 9rem 0;
    background-position: center center;
    background-size: cover;
}
.widget.asitheme_widget .asitheme_widget_main.text-left,
.widget.asitheme_widget .asitheme_widget_main.text-right{
    text-align: left;
}
.widget.asitheme_widget .asitheme_widget_main.black{
    color: #333;
}
.widget.asitheme_widget .asitheme_widget_main.no-title{
    padding: 15rem 0;
}
.widget.asitheme_widget .asitheme_widget_main > .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}
.widget.asitheme_widget .asitheme_widget_main > .inner > *{
    position: relative;
}
.widget.asitheme_widget .asitheme_widget_main > .inner{
    max-width: 60%;
    margin: 0 auto;
}
.widget.asitheme_widget .asitheme_widget_main .title{
    font-size: 4.8rem;
    margin: 0 auto;
    line-height: 1.24em;
    font-weight: 700;
}
.widget.asitheme_widget .asitheme_widget_main .text{
    font-size: 1.9rem;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.4em;
    font-weight: 200;
}
.widget.asitheme_widget .asitheme_widget_main.text-left .text,
.widget.asitheme_widget .asitheme_widget_main.text-right .text{
    max-width: 100%;
}
.widget.asitheme_widget .asitheme_widget_main.text-left > .inner{
    margin: 0 auto 0 45%;
    max-width: 450px;
    width: 30%;
    transform: translateX(-100%);
}
.widget.asitheme_widget .asitheme_widget_main.text-right > .inner{
    margin: 0 50% 0 auto;
    max-width: 450px;
    width: 30%;
    transform: translateX(100%);
}
.widget.asitheme_widget .asitheme_widget_main.text-left{
    text-align: left;
}
.widget.asitheme_widget .asitheme_widget_main .title + .text{
    margin-top: 3.3rem;
    margin-bottom: 3.3rem;
}
.widget.asitheme_widget .asitheme_widget_main > .inner > .text{
    margin-bottom: 3rem;
}
.widget.asitheme_widget .asitheme_widget_main > .inner > p:last-child{
    margin-bottom: 0;
}
@media only screen and (max-width: 1200px){

    .widget.asitheme_widget .asitheme_widget_main{
        padding: 8rem 0;
    }
}
@media only screen and (max-width: 990px){

    .widget.asitheme_widget .asitheme_widget_main{
        padding: 7rem 0;
    }

    .widget.asitheme_widget .asitheme_widget_main .title{
        font-size: 5rem;
    }
}
@media only screen and (max-width: 650px){

    .widget.asitheme_widget .asitheme_widget_main,
    .widget.asitheme_widget .asitheme_widget_main.no-title{
        padding: 3rem 0;
    }

    .widget.asitheme_widget .asitheme_widget_main > .inner{
        max-width: 90%;
    }

    .widget.asitheme_widget .asitheme_widget_main .title{
        font-size: 3rem;
    }

    .widget.asitheme_widget .asitheme_widget_main .text{
        font-size: 1.7rem;
        max-width: 100%;
    }

    .widget.asitheme_widget .asitheme_widget_main .title + .text{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .widget.asitheme_widget .asitheme_widget_main.text-left > .inner{
        margin: 0 auto 0 50%;
        width: 40%;
    }

    .widget.asitheme_widget .asitheme_widget_main.text-right > .inner{
        width: 40%;
    }
}
/* # Woocommerce
---------------------------------------------------------------------------------------------------- */
/* # Search Widget
---------------------------------------------------------------------------------------------------- */
.widget_product_search .woocommerce-product-search{
    align-content: center;
    display: flex;
}
.widget_product_search button[type="submit"]{
    background: none;
    border-radius: 0;
    border: none;
    color: #000;
    font-family: FontAwesome;
    height: auto;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    width: 25px;
}
.widget_product_search button[type="submit"]:hover{
    background: none;
    color: #000;
}
/* # Cart Widget
---------------------------------------------------------------------------------------------------- */
.widget_shopping_cart .buttons a{
    font-size: 1.4rem;
    text-transform: none;
    padding: 1rem 2rem;
}
.header-widget-area .widget_shopping_cart{
    text-align: left;
}
.header-widget-area .widget_shopping_cart .cart_list li a{
    margin-bottom: 0;
}
.header-widget-area .widget_shopping_cart .total{
    margin-bottom: 1rem;
}
/* # Categories Widget
---------------------------------------------------------------------------------------------------- */
.widget.asitheme_widget.asitheme_widget_woocommerce_categories .asitheme_widget_woocommerce_categories{
    border-top: 1px solid #f2f2f2;
    display: flex;
    flex-wrap: wrap;
}
.asitheme_widget_woocommerce_categories .cat-item{
    text-decoration: none;
    border-bottom: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
}
.asitheme_widget_woocommerce_categories .cat-item:nth-child(4n){
    border-right: none;
}
.asitheme_widget_woocommerce_categories .image-wrapper{
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    padding: 4rem 4rem 0 4rem;
}
.asitheme_widget_woocommerce_categories .image-wrapper img{
    display: block;
    max-width: 150px;
    width: 100%;
    margin: 0 auto;
}
.asitheme_widget_woocommerce_categories .title{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem 1rem;
}
@media only screen and (max-width: 768px){

    .asitheme_widget_woocommerce_categories .cat-item{
        width: 33.33%;
    }

    .asitheme_widget_woocommerce_categories .cat-item:nth-child(4n){
        border-right: 1px solid #f2f2f2;
    }

    .asitheme_widget_woocommerce_categories .cat-item:nth-child(3n){
        border-right: none;
    }
}
@media only screen and (max-width: 768px){

    .asitheme_widget_woocommerce_categories .cat-item{
        width: 50%;
    }

    .asitheme_widget_woocommerce_categories .cat-item:nth-child(3n){
        border-right: 1px solid #f2f2f2;
    }

    .asitheme_widget_woocommerce_categories .cat-item:nth-child(2n){
        border-right: none;
    }
}