.site-footer {
	background: #fff;
	color: #aaa;
	clear: both;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
	text-transform: uppercase;
}

.site-footer p {
	margin-bottom: 0;
}

